.hoverOnDiv:hover{
    .iconDiv{
        /* border: 1px solid #F5F4FE; */
        border-radius: 50%;
        background-color: #F5F4FE;
    }
    .icon{
        color: #011F4B;
    }
}
.sidebarSubDiv::-webkit-scrollbar {
  display: none;
} 



@media (max-width: 767px) {
    .sidebar {
      display: none;
    }
   
  }