@media screen and (max-width:767px) {


    
    .searchBtn{
        width: fit-content !important;
    }
}

@media screen and (max-width: 768px) {
    .responsive-div {
      display: block !important;
    }
  }
  
  @media screen and (min-width: 769px) {
    .responsive-div {
      display: none !important;
    }
  }